<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="CSS/error404.css">
    <link rel="icon" type="imagen/jpg" href="imagenes/LOGO.jpg">

    <title>EGGS GOLD</title>
</head>
<body class="error-page">
    <div class="error-container">
        <h1>404</h1>
        <p>¡Ups! La página que buscas no existe.</p>
        <a href="inicio.html">Volver al inicio</a>
    </div>
</body>
</html>

