<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Navegación</title>
    <link rel="stylesheet" href="CSS/mapa-navegacion.css">
    <link rel="icon" type="image/jpg" href="imagenes/LOGO.jpg">
</head>
<body>
    <header>
        <div class="logo-container">
            <img src="imagenes/LOGO.jpg" alt="Logo" class="logo">
        </div>
        <h1>Mapa de Navegación</h1>
        <p>Organización del contenido de la página</p>
    </header>

    <main>
        <ul class="sitemap">
            <span>Inicio</span>
            <ul>
                <li><span>Barra de navegación</span></li>
                <li><span>Imagen representativa</span></li>
                <li><span>Sobre nosotros</span></li>
                <li><span>Contactos</span></li>
            </ul>

            <span>Promociones</span>
            <ul>
                <li><span>Barra de navegación</span></li>
                <li><span>Productos en promoción</span></li>
                <li><span>Contactos</span></li>
            </ul>

            <span>Productos</span>
            <ul>
                <li><span>Carro de compras</span></li>
                <li><span>Productos</span></li>
            </ul>

            <span>Páginas de error</span>
            <ul class="errores">
                <li><a href="error404.html">Error 404</a></li>
                <li><a href="error403.html">Error 403</a></li>
                <li><a href="error500.html">Error 500</a></li>
            </ul>
              <ul>
                <li><button><a class="inicio" href="inicio.html">ATRAS</a></button></li>
            </ul>
        </ul>
    </main>

    <footer>
        <img src= "imagenes/LOGO.jpg" class="logo1" width= "70" height= "70">
        <div class= "contact">
         <h2 class="informacion">CONTACTANOS</h2>
         <a class="numero1" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">3126204260</a>
         <a class="numero2" href="https://web.whatsapp.com/" target="_blank" rel="noopener noreferrer">3216942598</a>
         <a class="contacto2" href="https://web.whatsapp.com/"target="_blank" rel="noopener noreferrer">contactanos</a>
         </div>
         <div class="info">
         <h2>INFO SITIO</h2>
         <a class="politica" href="#">politica de la empresa</a>
         <a class="codigoEtica" href="#">politica de privacidad</a>
         <a class="numero4" href="#">socios</a>
         </div>
         <h2 class="sigue">SIGUENOS</h2>
         <a href="https://es-la.facebook.com/index.php/" target="_blank" rel="noopener noreferrer" >
            <img src= "imagenes/faceboock.png" alt= "faceboock" class="faceboock" width= "140" height= "90" >
         </a>
         <a href="https://www.instagram.com/" target="_blank" rel="noopener noreferrer" >
            <img src= "imagenes/instagram.png"  alt= "instagram" class="instagram" width= "65" height= "60" >
         </a>
         <a href="https://www.youtube.com/" target="_blank" rel="noopener noreferrer" >
            <img src= "imagenes/youtube.png"  alt= "youtube" class="youtube" width= "70" height= "70" >
         </a>
    
    
    
        <p>&copy; 2024 EGGS GOLD. Todos los derechos reservados.</p>
    </footer>
</body>
</html>

