<!DOCTYPE html> 
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Notificaciones</title>
  <link rel="stylesheet" href="CSS/notificaciones.css">
  <link rel="icon" type="image/jpg" href="imagenes/LOGO.jpg">
  <link rel="icon" type="image/jpg" href="imagenes/LOGO.jpg">
</head>
<body>
  <header>
    <a id="btn-atras" class="inicio" href="#">⟵ Volver al Inicio</a>
  </header>

  <main>
    
    <div id="reportes">
        
    </div>
  </main>

  <script src="JAVA SCRIPT/reporte.js"></script>
</body>
</html>
