<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>practica</title>
    <table style="border: 1px solid green;">
    <link rel="stylesheet" href="CSS/practica1.css">
    <h1 class="position">position practica</h1>

</head>
<body>
  <div class="contenedor"></div>
  <!-- <h1>IMAGENES EN HTML</h1>
  <div class="photo"></div>
  <div class="imagen">el mundo es una locura y tiene todo lo posible para ser el mejor del mundo en el cual sabemos que la vida es bella jajj sobelo nose como explicar todo este sentimiento fue una locura pero la vida es muy bella por eso quiero exp,icar este texto</div>
  <div class="profile"></div> -->

  <!-- <table>
    
      <tr>
          <th>Dispositivo</th>
          <th>Periferico</th>
          <th>Funcion</th>
          <th>Fotografia</th>
          <th>Costos</th>
          <th>Marcas</th>
          <th>Link</th>
      </tr>
   
   
      <tr rowspan="3" class="category">
       <td >Almacenamiento</td>
        <td></td>
        <td></td>
      </tr>
      <tr>
       <td >Entrada</td>
       <td></td>
       <td></td>
      </tr>
      <tr>
        <td>Disco duro</td>
      </tr>
        <tr>
        <td>Memoria usb</td>
        </tr>
        <tr>
        <td>Memoria ram</td>
        </tr>
        <tr>
        <td>Teclado</td>
        </tr>
        <tr>
        <td>Mouse</td>
        </tr>
        <tr>
        <td>Microfono</td>
        </tr>
    </table> -->
    <!-- <script src="index.js"></script> -->
    
</body>
</html>