<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Crear Reporte</title>
  <link rel="stylesheet" href="CSS/repote.css">
</head>
<body>
  <div class="container">
    <img  class="logo" src="imagenes/LOGO.jpg" alt="Texto alternativo" width="50" height="50">
     <h2 id="titulo-formulario" class="titulo">Crear Reporte</h2>
    <form id="report-form" action="PHP/guardar_reporte.php" method="POST">
            <input type="hidden" id="remitente" name="remitente" value="">
       <input type="hidden" name="destinatario" value="logistica">
      <div class="form-group">
        <label for="title">Título del Reporte:</label>
        <input type="text" id="title" name="titulo" placeholder="Ingrese el título" >
        <span class="error" id="titleError"></span><br><br>
      </div>
      <div class="form-group">
        <label for="description">Descripción:</label>
        <textarea id="description" name="descripcion" rows="5" placeholder="Escriba una descripción detallada" ></textarea>
        <span class="error" id="descriptionError"></span><br><br>
      </div>
  
      <div class="form-group">
        <label for="file">Adjuntar Archivo:</label>
        <input type="file" id="file" name="archivo">
        <span class="error" id="fileError"></span><br><br>
      </div>
      <button type="submit">Enviar Reporte</button>
    </form>
  </div>
  <script src="JAVA SRCIPT/index.js"></script>
</body>
</html>
